<h2><%= t(".title") %></h2>

<%= render @loans %>

<% if @loans.empty? %>
  <p><%= t(".no_data") %></p>

  <%= link_to t(".loan_a_book!"), loans_borrower_step_path, style: "margin-top: 2rem" %>
<% end %>
